img{
    border-radius: 5px !important;
}
.col-md-3{
    margin:30px !important
}
p{
    font-weight: bold;
    font-size: 22px;
}
#navbar{
    background-color: rgb(32,31,31);
}
#navElements{
    text-align: center;
    padding: 10px;
}
li{
    color: white;
    list-style: none;
    display: inline;
    margin-left: 30px !important;
}
#title{
    font-size: 30px;
}
#footer{
    background-color: rgb(233, 75, 75);
    color:white;
    text-align: center;
    padding: 10px;
}